<% provide(:title, "Forgot password") %>

<div class='signin-up'>
<h1>Forgot password</h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.email_field :email, placeholder: "Email address" %>
      <%= f.submit "Submit" %>
    <% end %>
</div>
