<%= provide(:title, @user.name) %>
<div class='signin-up'>
      <h1>
	<!-- <%=gravatar_for @user %> -->
	<p> Username: <%= @user.name %> </p>
	<p> Email address: <%= @user.email %> </p>
      </h1>
</div>

